@font-face {
    font-family: "Inter";
    src: url(../font/Inter-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: "NotoSerifSC";
    src: url(../font/NotoSerifSC-VariableFont_wght.ttf);
}

body {
    margin: 0;
    font-family: Inter, NotoSerifSC, cursive, serif, sans-serif;
}

footer {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid black;

    img {
        height: 20px;
    }
}