body>div {
    height: 100vh;
    display: flex;

    aside {
        padding: 10px;
        overflow: auto;
        border-right: 1px solid black;

        h2 {
            margin: 10px 10%;
        }

        a {
            color: black;
            text-decoration: none;
        }

        ul {
            margin: 5px;
            padding: 5px;
            font-size: 16px;
            list-style: none;

            li ul li {
                transition: all 0.3s ease;

                &:hover {
                    transform: translateX(3px);
                }

                a:hover {
                    color: blue;
                }
            }
            
            li a {
                transition: all 0.25s ease;

                &:hover {
                    color: red;
                }
            }
        }

        
    }

    main {
        flex: 1;
        overflow: auto;

        h2 {
            margin: 20px 10%;
        }
    }
}

.link {
    display: flex;
    margin: 20px 12%;
    padding: 10px 20px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    div p {
        margin: 0 20px;
    }

    div h4 {
        margin: 0 20px 8px 20px;
    }

    img {
        width: 64px;
        height: 64px;
    }

    a {
        top: 26px;
        position: absolute;
        left: calc(100% - 52px);
        transition: all 0.3s ease;

        &:hover {
            transform: translateX(2px);
        }
    }
}