h1 {
    text-align: center;
    margin: 20px 0;
}

.hitokoto {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}

.search {
    width: min(500px, 75vw);
    margin: auto;
}

.pagefind-ui__result-thumb {
    display: none;
}