h1 {
    text-align: center;
    margin: 20px 0;
}

.hitokoto {
    font-size: 20px;
    margin: 15px auto;
    text-align: center;
}

.search {
    width: 50%;
    margin: auto;
}

.pagefind-ui__result-thumb {
    display: none;
}