nav ul {
    margin: 0;
    display: flex;
    padding: 12px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease;

    li {
        height: 32px;
        display: flex;
        margin: 0 20px;
        list-style: none;
        align-items: center;

        a {
            color: black;
            line-height: 1;
            font-size: 16px;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
        }

        &:not(:nth-child(2)):not(:nth-last-child(2)) a {
            position: relative;

            &::before,
            &::after {
                width: 0;
                left: 50%;
                content: '';
                height: 2px;
                position: absolute;
                border-radius: 1px;
                background-color: blue;
                transition: all 0.5s ease-in-out;
            }

            &::before {
                bottom: -3px;
            }

            &::after {
                top: -3px;
            }

            &:hover::before,
            &:hover::after {
                left: 0;
                width: 100%;
            }
        }

        img {
            width: 32px;
            height: 32px;
        }
    }


}

.space-1 {
    flex: 1;
}

.space-2 {
    flex: 10;
}

.menu {
    top: 3px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    display: none;
    position: absolute;
    background: none;
}

.search-input {
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease-in-out;

    input {
        height: 20px;
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: all 0.3s ease-in-out;

        &:focus {
            outline: none;
            border-width: 1.8px;
            border-color: black;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
    }
}

@media (width < 865px) {
    .menu {
        display: block;
    }

    nav ul {
        display: flex;

        li:not(:nth-child(2)):not(:nth-child(7)):not(:nth-last-child(2)) {
            display: none;

            a,
            form {
                margin: auto;
                text-align: center;
            }
        }
    }
}