nav ul {
    margin: 0;
    display: flex;
    padding: 12px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    li {
        height: 32px;
        display: flex;
        margin: 0 20px;
        list-style: none;
        align-items: center;

        a {
            color: black;
            line-height: 1;
            font-size: 16px;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }
}

.space-1 {
    flex: 1;
}

.space-2 {
    flex: 10;
}

.search-input {
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease-in-out;

    input {
        height: 20px;
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
        transition: all 0.3s ease-in-out;

        &:focus {
            outline: none;
            border-width: 1.8px;
            border-color: black;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
    }
}